name: actions_scrape
run-name: "Scrape both translations and FFlags from Roblox API"
on:
  schedule:
    - cron: "32 0-2,16-23 * * *"
  workflow_dispatch:

jobs:
  scrape_basic:
    runs-on: linux_slim
    steps:
      - uses: actions/checkout@v4.1.1

      - name: "Sets up and runs Python scripts"
        uses: actions/setup-python@v5.0.0
        with:
          python-version: "3.12"
      - run: "python -m pip install --upgrade pip"
      - run: "pip install -r requirements.txt"
      - run: "python FFlags.py"

      - name: "Commit and push to repo"
        run: |
          git config --global user.name "gh-actions-rbxscraper"
          git config --global user.email "<>"
          git pull
          git add -A
          git diff --exit-code --cached || git commit -a -m "`date`"
          git pull
          git push